{{!-- Default mode/form --}}
<div class="green-abilities mode-name {{#if (eq actor.system.mode "main" )}}select-border{{else}}box-border{{/if}}">
    <input class="mode-name-input" type="text" name="system.modeName.main" value="{{actor.system.modeName.main}}"
        placeholder='{{localize "SCRPG.modes.main"}}' />
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a title='{{localize "SCRPG.button.show"}}' class="show-main mode-item" {{#if (eq actor.system.modeDisplayed.main
        true )}} style="color:green" {{/if}} data-aux="main">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a title='{{localize "SCRPG.button.changeMode"}}' class="set-mode mode-item" {{#if (eq actor.system.mode "main" )}}
        style="color:green" {{/if}} data-aux="main">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq actor.system.modeDisplayed.main true)}}
<div class="mode-card box-border green-abilities" mode="main">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="main"}}
        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor enrichedModeDescriptionMain target="system.modeDescription.main" button=true
                        editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{else}}
<br>
{{/if}}

{{!-- First green mode/form --}}
<div class="green-abilities mode-name {{#if (eq actor.system.mode "green1" )}}select-border{{else}}box-border{{/if}}">
    <input class="mode-name-input" type="text" name="system.modeName.green1" value="{{actor.system.modeName.green1}}"
        placeholder='{{localize "SCRPG.modes.green1"}}' />
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a title='{{localize "SCRPG.button.show"}}' class="show-green1 mode-item" {{#if (eq
        actor.system.modeDisplayed.green1 true )}} style="color:green" {{/if}} data-aux="green1">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a title='{{localize "SCRPG.button.changeMode"}}' class="set-mode mode-item" {{#if (eq actor.system.mode "green1"
        )}} style="color:green" {{/if}} data-aux="green1">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq actor.system.modeDisplayed.green1 true)}}
<div class="mode-card box-border green-abilities" mode="green1">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="green1"}}
        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor enrichedModeDescriptionGreen1 target="system.modeDescription.green1" button=true
                        editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="green1"}}
    </div>
</div>
{{else}}
<br>
{{/if}}

{{!-- Second green mode/form --}}
{{#if (eq actor.system.powerless true)}}
<div class="green-abilities mode-name {{#if (eq actor.system.mode "green2" )}}select-border{{else}}box-border{{/if}}">
    <input class="mode-name-input" type="text" name="system.modeName.green2" value="{{actor.system.modeName.green2}}"
        placeholder='{{localize "SCRPG.modes.green2"}}'>
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a title='{{localize "SCRPG.button.show"}}' class="show-green2 mode-item" {{#if (eq
        actor.system.modeDisplayed.green2 true )}} style="color:green" {{/if}} data-aux="green2">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a title='{{localize "SCRPG.button.changeMode"}}' class="set-mode mode-item" {{#if (eq actor.system.mode "green2"
        )}} style="color:green" {{/if}} data-aux="green2">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq actor.system.modeDisplayed.green2 true)}}
<div class="mode-card box-border green-abilities" mode="green2">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="green2"}}
        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor enrichedModeDescriptionGreen2 target="system.modeDescription.green2" button=true
                        editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
        {{#if (eq actor.system.formchanger true)}}
        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="green2"}}
        {{/if}}
    </div>
</div>
{{else}}
<br>
{{/if}}
{{/if}}

{{!-- First yellow mode/form --}}
<div class="yellow-abilities mode-name {{#if (eq actor.system.mode "yellow1" )}}select-border{{else}}box-border{{/if}}">
    <input class="mode-name-input" type="text" name="system.modeName.yellow1" value="{{actor.system.modeName.yellow1}}"
        placeholder='{{localize "SCRPG.modes.yellow1"}}'>
    {{!-- Buttons for minimizing the details and applying it to character --}}
    <a title='{{localize "SCRPG.button.show"}}' class="show-yellow1 mode-item" {{#if (eq
        actor.system.modeDisplayed.yellow1 true )}} style="color:green" {{/if}} data-aux="yellow1">
        <i class="fas fa-expand-arrows-alt"></i>
    </a>
    <a title='{{localize "SCRPG.button.changeMode"}}' class="set-mode mode-item" {{#if (eq actor.system.mode "yellow1"
        )}} style="color:green" {{/if}} data-aux="yellow1">
        <i class="fas fa-upload"></i>
    </a>
</div>
{{!-- Displays powers, description and ability --}}
{{#if (eq actor.system.modeDisplayed.yellow1 true)}}
<div class="mode-card box-border yellow-abilities" mode="yellow1">
    <div class="forms">
        {{> "systems/scrpg/templates/partials/auxiliarypowers.hbs" mode="yellow1"}}
        <div>
            <table class="box-border">
                <tr>
                    <th>
                        {{localize "SCRPG.abilities.description"}}
                    </th>
                <tr>
                    <td>
                        {{editor enrichedModeDescriptionYellow1 target="system.modeDescription.yellow1" button=true
                        editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
        {{> "systems/scrpg/templates/partials/abilitiestable.hbs" mode="yellow1"}}
    </div>
</div>
{{else}}
<br>
{{/if}}