{{!-- Table to displaying available minion forms --}}
<div class="SCRPG chat roll">
    <div class="dice-results dice-rolled box-border minor-roll" style="border: 2px solid {{coloring}}">
        <table>
            <tr class="minion-form-title-child">
                <td><strong>{{localize "SCRPG.minion.ability"}}</strong></td>
                <td><strong>{{localize "SCRPG.sheet.description"}}</strong></td>
            </tr>
            {{!-- Displays all minion forms the character has --}}
            {{#each minionAbilities as |minionForm id|}}
            <tr class="minionForm-item villain-minionForm-parent item" data-item-id="{{minionForm._id}}">
                <td>{{name}}</td>
                <td>{{{system.description}}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>