<form class="{{cssClass}}" autocomplete="off">
    <div class="minion-portrait">
        <div>
            <div class="minion-count">
                <h3 style="padding-right: 4px;">{{localize "SCRPG.sheet.group"}}:</h3>

                <select name="system.groups">
                    {{#select actor.system.groups}}
                    <option value="1">{{actor.system.groupName.one}}</option>
                    <option value="2">{{actor.system.groupName.two}}</option>
                    <option value="3">{{actor.system.groupName.three}}</option>
                    <option value="4">{{actor.system.groupName.four}}</option>
                    <option value="5">{{actor.system.groupName.five}}</option>
                    <option value="6">{{actor.system.groupName.six}}</option>
                    <option value="7">{{actor.system.groupName.seven}}</option>
                    <option value="8">{{actor.system.groupName.eight}}</option>
                    <option value="9">{{actor.system.groupName.nine}}</option>
                    <option value="10">{{actor.system.groupName.ten}}</option>
                    {{/select}}
                </select>
            </div>

            {{#if (eq actor.system.groups "1")}}
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.one"
                        value="{{actor.system.groupName.one}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.one">
                    {{#select actor.system.typicalDie.one}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=1 data-dietype={{actor.system.typicalDie.one}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=1}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=1}}
            {{/if}}

            {{#if (eq actor.system.groups "2")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.two"
                        value="{{actor.system.groupName.two}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.two">
                    {{#select actor.system.typicalDie.two}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=2 data-dietype={{actor.system.typicalDie.two}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=2}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=2}}
            {{/if}}

            {{#if (eq actor.system.groups "3")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.three"
                        value="{{actor.system.groupName.three}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.three">
                    {{#select actor.system.typicalDie.three}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=3 data-dietype={{actor.system.typicalDie.three}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=3}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=3}}
            {{/if}}

            {{#if (eq actor.system.groups "4")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.four"
                        value="{{actor.system.groupName.four}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.four">
                    {{#select actor.system.typicalDie.four}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=4 data-dietype={{actor.system.typicalDie.four}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=4}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=4}}
            {{/if}}

            {{#if (eq actor.system.groups "5")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.five"
                        value="{{actor.system.groupName.five}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.five">
                    {{#select actor.system.typicalDie.five}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=5 data-dietype={{actor.system.typicalDie.five}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=5}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=5}}
            {{/if}}

            {{#if (eq actor.system.groups "6")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.six"
                        value="{{actor.system.groupName.six}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.six">
                    {{#select actor.system.typicalDie.six}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=6 data-dietype={{actor.system.typicalDie.six}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=6}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=6}}
            {{/if}}

            {{#if (eq actor.system.groups "7")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.seven"
                        value="{{actor.system.groupName.seven}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.seven">
                    {{#select actor.system.typicalDie.seven}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=7 data-dietype={{actor.system.typicalDie.seven}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=7}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=7}}
            {{/if}}

            {{#if (eq actor.system.groups "8")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.eight"
                        value="{{actor.system.groupName.eight}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.eight">
                    {{#select actor.system.typicalDie.eight}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=8 data-dietype={{actor.system.typicalDie.eight}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=8}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=8}}
            {{/if}}

            {{#if (eq actor.system.groups "9")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.nine"
                        value="{{actor.system.groupName.nine}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.nine">
                    {{#select actor.system.typicalDie.nine}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=9 data-dietype={{actor.system.typicalDie.nine}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=9}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=9}}
            {{/if}}

            {{#if (eq actor.system.groups "10")}}
            <div class="line-1"></div>
            <div class="box-border minion-group-name">
                <h3>
                    <input class="minion-group-name-input" type="text" name="system.groupName.ten"
                        value="{{actor.system.groupName.ten}}" placeholder='{{localize "SCRPG.minion.minionlieutenant"}}'>
                </h3>
                {{!-- Buttons for minimizing the details and applying it to character --}}
                <select name="system.typicalDie.ten">
                    {{#select actor.system.typicalDie.ten}}
                    {{#each config.dieTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <a title='{{localize "SCRPG.button.addNew" }}' class="item-create minion-group-item" data-type="heroMinion"
                    data-group=10 data-dietype={{actor.system.typicalDie.ten}}>
                    <i class="fas fa-plus"></i>
                </a>
                {{> "systems/scrpg/templates/partials/minionsheetbuttons.hbs" index=10}}
            </div>
            {{> "systems/scrpg/templates/partials/miniongroups.hbs" index=10}}
            {{/if}}
        </div>
        <div class="character-photo" style="margin-left: 10px">
            <img src="{{data.img}}" data-edit="img" title="{{data.name}}" class="villain-img img-border" />
        </div>
    </div>
</form>