{{!-- Sheet for displaying Environments --}}

<form class="{{cssClass}}" autocomplete="off">
    <div class="personality sheet-content">
        <div class="box-border flex-sheet-container">
            <div class="personality-title">
                <h3>
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder='{{localize "SCRPG.charInfo.personality"}}'>
                </h3>
            </div>
            <div class="personality-description flex-sheet-wrapper">
                <div class="flex-sheet-body">
                    {{editor enrichedPersonalityDescription target="system.description" button=true editable=editable}}
                    <input name="system.out" type="text" value="{{item.system.out}}"
                        placeholder='{{localize "SCRPG.charInfo.out"}}'>
                </div>
                <div class="status-dice">
                    <div class="status-dice-child">
                        <select name="system.statusDie.green" class="green-border green-status-background">
                            {{#select item.system.statusDie.green}}
                            {{#each config.dieTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="status-dice-child">
                        <select name="system.statusDie.yellow" class="yellow-border yellow-status-background">
                            {{#select item.system.statusDie.yellow}}
                            {{#each config.dieTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="status-dice-child">
                        <select name="system.statusDie.red" class="red-border red-status-background">
                            {{#select item.system.statusDie.red}}
                            {{#each config.dieTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>