{{!-- Sheet for displaying power --}}

<form class="{{cssClass}}" autocomplete="off">

    <header class="power-title sheet-header">
        <h3 class="box-border white-abilities"><input name="name" type="text" value="{{item.name}}"
                placeholder="{{ localize 'Name' }}" /></h3>
    </header>
    <div class="sheet-content power-content">
        {{#if (eq this.item.actor null)}}
        <table class=" box-border white-abilities type-table">
            <tr>
                <th>{{localize "SCRPG.type.power"}}</th>
                <td>
                    {{!-- Dropdown menu shows where the power belongs either default or part of mode/form --}}
                    <select name="system.aux">
                        {{#select item.system.aux}}
                        {{#each config.types as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        {{/if}}

        <div class="sheet-content">
            <table class="box-border powerquality flex-sheet-table">
                <tr>
                    <th>{{localize "SCRPG.sheet.die"}}</th>
                    <th>{{localize "SCRPG.sheet.description"}}</th>
                </tr>
                <tr>
                    {{!-- Dropdown menu for selecting die type --}}
                    <td>
                        <select name="system.dieType">
                            {{#select item.system.dieType}}
                            {{#each config.dieTypes as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    {{!-- Description input --}}
                    <td>
                        {{editor enrichedPowerDescription target="system.description" button=true editable=editable}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>