{{!-- Sheet for displaying PowerSource --}}

<form class="{{cssClass}}" autocomplete="off">
    <div class="power-source sheet-content">
        <div class="box-border flex-sheet-container">
            <div class="power-source-title">
                <h3>
                    <input name="name" type="text" value="{{item.name}}"
                        placeholder='{{localize "SCRPG.charInfo.powerSource"}}'>
                </h3>
            </div>
            <div class="power-source-description flex-sheet-body">
                {{editor enrichedPowerSourcesDescription target="system.description" button=true editable=editable}}
            </div>
        </div>
    </div>
</form>