{{!-- Displays typical role of power, quality, and status together --}}

{{!-- Table of selected power, quality and status for roll --}}
<div class="SCRPG chat roll" style="min-width: 340px">
    <div class="dice-rolled box-border main-roll" style="border: 2px solid">
        <table>
            {{#if rollPower}}
            <tr>
                <th>{{localize "SCRPG.powerquality.power"}}</th>
                <td {{#if (eq powerLocked false)}}class="item-select-container"{{/if}}>
                    {{#if powerLocked}}
                    {{selectedPower.name}}&nbsp;&nbsp;{{selectedPower.dieType}}
                    {{else}}
                    <select class="item-select" name="system.selectedPowerId">
                        {{#select selectedPowerId}}
                        {{#each powers}}
                        <option class="power-item set-power" value="{{id}}">{{name}}&nbsp;&nbsp;{{dieType}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </td>
            </tr>
            {{/if}}
            {{#if rollQuality}}
            <tr>
                <th>{{localize "SCRPG.powerquality.quality"}}</th>
                <td {{#if (eq qualityLocked false)}}class="item-select-container"{{/if}}>
                    {{#if qualityLocked}}
                    {{selectedQuality.name}}&nbsp;&nbsp;{{selectedQuality.dieType}}
                    {{else}}
                    <select class="item-select" name="system.selectedQualityId">
                        {{#select selectedQualityId}}
                        {{#each qualities}}
                        <option class="power-item set-power" value="{{id}}">{{name}}&nbsp;&nbsp;{{dieType}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </td>
            </tr>
            {{/if}}
            {{#if rollStatus}}
            <tr>
                <th>{{localize "SCRPG.powerquality.status"}}</th>
                <td {{#if (eq statusLocked false)}}class="item-select-container"{{/if}}>
                    {{#if statusLocked}}
                    {{selectedStatus.name}}&nbsp;&nbsp;{{selectedStatus.dieType}}
                    {{else}}
                    <select class="item-select" {{#if statusLocked}}disabled{{/if}} name="system.selectedStatusId">
                        {{#select selectedStatusId}}
                        {{#each statuses}}
                        <option class="power-item set-power" value="{{id}}">{{name}}&nbsp;&nbsp;{{dieType}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                </td>
            </tr>
            {{/if}}
        </table>
    </div>

    {{!-- Displays used Mods in roll --}}
    {{!-- List of Applied Mods --}}
    {{#if hasAvailMods}}
    <div class="box-border mod-box" style="border: 2px solid {{coloring}}">
        {{#if bonuses.length}}<p>{{localize "SCRPG.mod.availBonus"}}</p>{{/if}}
        <div class="mod-bonus">
            {{#each bonuses}}
            <div class="mod-item item mod-select box-border green-abilities mod-rolls {{#if (eq system.selected true)}}green-border{{/if}}" data-item-id="{{_id}}">
                <span class="mod-roll-text"> {{system.value}} {{#if system.named}}{{name}}{{/if}}</span>
                <div class="p-e-icon">
                    {{#if (eq system.persistent true)}}
                    <i title='{{localize "SCRPG.mod.persistent"}}' class="fas fa-hourglass"></i>
                    {{/if}}
                    {{#if (eq system.exclusive true)}}
                    <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        {{#if penalties.length}}<p>{{localize "SCRPG.mod.availPenalty"}}</p>{{/if}}
        <div class="mod-penalty">
            {{#each penalties}}
            <div class="mod-item item mod-select box-border red-abilities mod-rolls {{#if (eq system.selected true)}}red-border{{/if}}" data-item-id="{{_id}}">
                <span class="mod-roll-text"> {{system.value}} {{#if system.named}}{{name}}{{/if}}</span>
                <div class="p-e-icon">
                    {{#if (eq system.persistent true)}}
                    <i title='{{localize "SCRPG.mod.persistent"}}' class="fas fa-hourglass"></i>
                    {{/if}}
                    {{#if (eq system.exclusive true)}}
                    <i title='{{localize "SCRPG.mod.exclusive"}}' class="fas fa-lock"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    
    <button class="make-roll"><i class="fas fa-dice-d6"></i>{{localize "SCRPG.button.rollMain"}}</button>
</div>